<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "http://www.hibernate.org/dtd/hibernate-configuration"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sakila?useSSL=false</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Password</property>
        <property name="hibernate.show_sql">true</property>

        <mapping resource="entity/Product.hbm.xml"/>
        <!--mapiranje uradeno kroz resurs unutar entity foldera u file pod nazivom Product.hbm.xml -->
    </session-factory>
</hibernate-configuration>